<html>
  <head>
    ${javascript}

    <script id="shader-frag" type="x-shader/x-fragment"
            src="glsl/white.frag"></script>
    <script id="shader-vert" type="x-shader/x-vertex"
            src="glsl/position.vert"></script>
  </head>
  <body onload="sayHi()">
  </body>
</html>
