<html>
  <head>
    ${javascript}
  </head>
  <body>
    <input id="add" type="button" value="Add Building">
    <div id="container"></div>
    <center>
      <canvas id="canvas" style="border: none;"
              width="800" height="500"></canvas>
    </center>
    <script type="text/javascript">init()</script>
  </body>
</html>
