<html>
  <head>
    <script id="shader-vert" type="x-shader/x-vertex">${vertex}</script>
    <script id="shader-frag" type="x-shader/x-fragment">${fragment}</script>
    ${javascript}
  </head>
  <body onload="webGLStart()">
    <canvas id="canvas" style="border: none;" width="500" height="500"></canvas>
  </body>
</html>
