<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    ${javascript}
  </head>
  <body>
    <center>
      <h2>City Development, by Joe Tessler</h2>
      <h5>Use WASD for movement and QE/mouse drags for rotation control</h5>
      <canvas id="canvas" style="border: none;"
              width="800" height="500"></canvas>
      <div id="container"></div>
    </center>
    <script type="text/javascript">init()</script>
  </body>
</html>
